KenKen(
    size: 9,
    areas: [
        (
            ty: Add,
            solution: 7,
            fields: [
                (0,0),
                (0,1),
            ],
        ),
        (
            ty: Add,
            solution: 21,
            fields: [
                (1,1),
                (2,1),
                (1,2),
                (0,2),
            ],
        ),
        (
            ty: Add,
            solution: 17,
            fields: [
                (3,0),
                (4,0),
                (3,1),
                (4,1),
            ],
        ),
        (
            ty: Add,
            solution: 11,
            fields: [
                (5,0),
                (5,1),
            ],
        ),
        (
            ty: Add,
            solution: 23,
            fields: [
                (6,0),
                (6,1),
                (7,1),
            ],
        ),
        (
            ty: Add,
            solution: 11,
            fields: [
                (7,0),
                (8,0),
                (8,1),
            ],
        ),
        (
            ty: Add,
            solution: 24,
            fields: [
                (5,2),
                (6,2),
                (7,2),
            ],
        ),
        (
            ty: Add,
            solution: 8,
            fields: [
                (3,2),
                (4,2),
            ],
        ),
        (
            ty: Add,
            solution: 8,
            fields: [
                (2,2),
                (2,3),
            ],
        ),
        (
            ty: Add,
            solution: 19,
            fields: [
                (3,3),
                (3,4),
                (3,5),
            ],
        ),
        (
            ty: Add,
            solution: 6,
            fields: [
                (4,3),
                (5,3),
            ],
        ),
        (
            ty: Add,
            solution: 4,
            fields: [
                (6,3),
                (7,3),
            ],
        ),
        (
            ty: Add,
            solution: 21,
            fields: [
                (8,3),
                (7,4),
                (8,4),
                (8,5),
            ],
        ),
        (
            ty: Add,
            solution: 5,
            fields: [
                (5,4),
                (6,4),
            ],
        ),
        (
            ty: Add,
            solution: 20,
            fields: [
                (0,4),
                (1,4),
                (2,4),
            ],
        ),
        (
            ty: Add,
            solution: 3,
            fields: [
                (0,5),
                (1,5),
            ],
        ),
        (
            ty: Add,
            solution: 9,
            fields: [
                (2,5),
                (2,6),
            ],
        ),
        (
            ty: Add,
            solution: 17,
            fields: [
                (0,6),
                (0,7),
                (0,8),
            ],
        ),
        (
            ty: Add,
            solution: 17,
            fields: [
                (1,6),
                (1,7),
                (2,7),
            ],
        ),
        (
            ty: Add,
            solution: 9,
            fields: [
                (1,8),
                (2,8),
            ],
        ),
        (
            ty: Add,
            solution: 22,
            fields: [
                (3,7),
                (4,7),
                (3,8),
                (4,8),
            ],
        ),
        (
            ty: Add,
            solution: 15,
            fields: [
                (5,6),
                (6,6),
                (7,6),
            ],
        ),
        (
            ty: Add,
            solution: 12,
            fields: [
                (8,6),
                (8,7),
            ],
        ),
        (
            ty: Add,
            solution: 11,
            fields: [
                (6,7),
                (7,7),
                (6,8),
            ],
        ),
        (
            ty: Sub,
            solution: 8,
            fields: [
                (1,0),
                (2,0),
            ],
        ),
        (
            ty: Sub,
            solution: 4,
            fields: [
                (0,3),
                (1,3),
            ],
        ),
        (
            ty: Sub,
            solution: 6,
            fields: [
                (4,5),
                (5,5),
            ],
        ),
        (
            ty: Sub,
            solution: 1,
            fields: [
                (6,5),
                (7,5),
            ],
        ),
        (
            ty: Sub,
            solution: 8,
            fields: [
                (3,6),
                (4,6),
            ],
        ),
        (
            ty: Sub,
            solution: 7,
            fields: [
                (5,7),
                (5,8),
            ],
        ),
        (
            ty: Sub,
            solution: 8,
            fields: [
                (7,8),
                (8,8),
            ],
        ),
        (
            ty: Single,
            solution: 2,
            fields: [
                (8,2),
            ],
        ),
        (
            ty: Single,
            solution: 9,
            fields: [
                (4,4),
            ],
        ),
    ],
)